h1, h2, h3, h4, h5, h6, p, body, ul, li {
    margin: 0;
    padding: 0;
    font: inherit;
}
ul, li {
    list-style: none; /* removes bullets */
}
* {
    box-sizing: border-box; /* inverts padding, pushes in instead of expands out*/
}
img {
    vertical-align: top; /*removes white space below image*/
}